langchain==0.3.45
langchain-core==0.3.45
langchain-community==0.1.0
langchain-text-splitters==0.2.7
sentence-transformers==2.2.2
pypdf==3.20.0
docx2txt==0.8
unstructured==0.7.11
fastapi==0.111.1
uvicorn==0.24.0
streamlit==1.26.0
python-dotenv==1.0.0
pinecone-client==4.2.1
langchain-pinecone==0.2.12
langchain-groq==0.1.0
langchain-tavily==0.1.0
requests==2.32.0
uuid==1.30
langchain-huggingface==0.2.0
